<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      INICIO
     </ion-title>
<ion-buttons slot="start">
<ion-menu-button menu="menuone"></ion-menu-button>
</ion-buttons>

</ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<img src="assets/img/logo.jpg " alt="Logo de MediMap">
<ion-card-content>
<ion-card-tittle> 
  <h1><strong> Administradores De MediMap.</strong></h1>  
</ion-card-tittle>
    <p>
     Nos caracterizamos por darle el mejor servicio a nuestros suscriptores y pacientes.
    </p>

</ion-card-content>

</ion-card>
</ion-content>
