<ion-header>
    <ion-toolbar color="secondary">
        <ion-title> INICIO </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="menuone"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="assets/img/logo.jpg " alt="Logo de MediMap" />
        <ion-card-content>
            <ion-card-title>
                <h1><strong> Bienvenido a MediMap.</strong></h1>
            </ion-card-title>
            <p>
                Nos caracterizamos por mostrar servicios oportunos a nuestros Usuarios a traves de una red de Geolocalizacion.
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>