.log{
    margin-top: 20%;
    img{
        height: 400%;
    }
}

.form{
    margin-top: 10px;
    margin-right: 10px ;
    ion-item{
    
        border-radius: 5%;
        border-color: rgb(128, 128, 128);
        border-width: 2px;
        border-style: solid ;
        margin-bottom: 10px;
    }
}
.logo{
    img{
        width: 125px;
        height: 125px;
        border-radius: 200%;
        border:2px solid rgb(77, 77, 238);
    }
}

ion-content{
    border:3px solid rgb(77, 77, 238) ;

}
