<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons  slot="start">
      <ion-button (click)="goRegis()" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
    Registar Paciente.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title id="titulo" class="ion-padding ion-text-center">Datos del Paciente.</ion-title>
  <form class="suscri">
  <ion-list>
    <ion-item>
      <ion-label>Tipo De Documento</ion-label>
      <ion-select>
        <ion-select-option value="cedula" >Cedula</ion-select-option>
        <ion-select-option value="rif">Pasaporte</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Ingrese Cedula"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Ingrese su nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Ingrese su apellido"></ion-input>
    </ion-item>
   <ion-item>
      <ion-input placeholder="Ingrese su correo" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Ingrese su clave" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button   shape="round" expand="block" (click)="presentAlertConfirm()">Registrarse</ion-button> <hr>
</form>
</ion-content>



