.botonMedico{
    margin-left: 10%;
    margin-top: 5%;
}

.botonPaciente{
    margin-left: 5%;
    margin-top: 5%;
  

}
.logo{
    img{
        margin-left: 80px;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border:3px solid rgb(77, 77, 238);
    }
}