<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons  slot="start" >
      <ion-button  (click)="atras()" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Recordar
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class=" ion-text-center" class="form">
  <figure text-center class="logo">
    <img src="assets/img/logo.jpg"/>
  </figure>


  <ion-title class=" ion-text-center" id="titulo">Ingrese Correo</ion-title>

  <ion-list>
    <ion-item>
      <ion-input placeholder="Correo"></ion-input>
    </ion-item> 

  <ion-button  class="ion-button-center" shape="round" (click)="presentAlertConfirm()">Enviar</ion-button> <hr>
  </ion-list>
  

</ion-content>
